[submodule "external/openCL"]
	path = external/OpenCL
	url = https://github.com/ProjectPhysX/OpenCL-Wrapper.git
[submodule "external/opencl"]
	path = external/opencl
	url = https://github.com/ProjectPhysX/OpenCL-Wrapper.git
